@mixin btn-style {
    border-radius: 20px;
    background-color: $main-color;
    color: #fff;
    border: none;
    font-weight: 600;
    transition: 0.3s all;
    &:hover {
        border: 2px solid $main-color;
        background-color: #fff;
        color: $main-color;
    }
}
@mixin title-style {
    font-size: 38px;
    color: #fff;
    font-weight: 600;
    margin: 0;
}
@mixin subtitle-style {
    font-size: 22px;
    color: #fff;
    font-weight: 400;
    margin: 0;
}
@mixin motion-anima {
    cursor: pointer;
    transition: 0.3s all;
    &:hover {
        transition: 0.3s all;
        transform: translate(5px, -5px);
        box-shadow: -5px 5px 25px 3px #000;
    }
}